@import "../../colors.scss";

button{
    background-color: $color-purple; 
    border: none;
    color: $color-white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:15px;
    border-radius: 30px;
    cursor: pointer;
    margin:2px;
}

button.white{
    background-color: $color-white;
    color: $color-purple;
}

button.dark{
    background-color: $color-grey;
    color: $color-white;

}

button.off-white{
    background-color: $color-off-white;
    color: $color-grey;

}

button.hover-purple{
    &:hover{
        color:$color-white;
        background-color:$color-purple;
    }
}

button.hover-dark{
    &:hover{
        color:$color-white;
        background-color:$color-grey;
    }
}

button.hover-white{
     &:hover{
        background-color:$color-off-white;
        color: $color-purple;
    }
}

button.hover-off-white{
    &:hover{
        background-color:$color-off-white;
        color: $color-purple;
    }
}




